.button-53 {
  background-color: #4A52F0;
  /* background-color: #FE003A; */
  border: 0 solid #E5E7EB;
  margin-left: 50px;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-size: 20px; */
  font-weight: 800;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #ACE7E9 solid;
  text-decoration-thickness: auto;
  width: 600px;
  height: 52px;
  max-width: 660px;
  position: relative;
  transform: rotate(-2deg);
  -webkit-user-select: none;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 2px solid #A8D5DB;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}


@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
