.scene {
  position: relative;
  perspective: 4000px;
  margin: auto;
  width: 400px;
  height: 200px;
}
.carousel {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

.carousel_cell {
  position: absolute;
  width: 80%;
  height: 250px;
  left: 10px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #000000;
}

.carousel_cell:nth-child(1) {
  background-color: #FF2E2F;
  transform: rotateY(0deg) translateZ(350px);
}

.carousel_cell:nth-child(2) {
  background-color: #809FF6;
  transform: rotateY(60deg) translateZ(350px);
}

.carousel_cell:nth-child(3) {
  background-color: #8259FB;
  transform: rotateY(120deg) translateZ(350px);
}

.carousel_cell:nth-child(4) {
  background-color: #01DFD7;
  transform: rotateY(180deg) translateZ(350px);
}

.carousel_cell:nth-child(5) {
  background-color: #FE9A2E;
  transform: rotateY(240deg) translateZ(350px);
}

.carousel_cell:nth-child(6) {
  background-color: #A8F4A9;
  transform: rotateY(300deg) translateZ(350px);
}

.bloc_button {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  gap: 300px;
}

button {
  background: none;
  color:rgb(116, 162, 253) !important;
  border: none;
  cursor: pointer;
}
