.scene {
  position: relative;
  perspective: 4000px;
  margin: auto;
  width: 400px;
  height: 200px;
}
.carousel {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

.carousel_cell {
  position: absolute;
  width: 80%;
  height: 250px;
  left: 10px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #000000;
}

.carousel_cell:nth-child(1) {
  background: linear-gradient(0deg, rgba(116, 162, 253, 0.5) 0%, rgba(74, 82, 240, 0.9) 46%);
  transform: rotateY(0deg) translateZ(350px);
}

.carousel_cell:nth-child(2) {
  background: linear-gradient(0deg, rgba(116, 162, 253, 0.5) 0%, rgba(74, 82, 240, 0.9) 46%);
  transform: rotateY(60deg) translateZ(350px);
}

.carousel_cell:nth-child(3) {
  background: linear-gradient(0deg, rgba(171, 230, 233,0.5) 0%, rgba(116, 162, 253,0.9) 46%);
  transform: rotateY(120deg) translateZ(350px);
}

.carousel_cell:nth-child(4) {
  background: linear-gradient(0deg, rgba(171, 230, 233,0.5) 0%, rgba(116, 162, 253,0.9) 46%);
  transform: rotateY(180deg) translateZ(350px);
}

.carousel_cell:nth-child(5) {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%,  rgba(171, 230, 233,0.9) 46%);
  transform: rotateY(240deg) translateZ(350px);
}

.carousel_cell:nth-child(6) {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%,  rgba(171, 230, 233,0.9) 46%);
  transform: rotateY(300deg) translateZ(350px);
}

.bloc_button {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  gap: 300px;
}

button {
  background: none;
  color:rgb(116, 162, 253) !important;
  border: none;
  cursor: pointer;
}
