@import "card.css";
@import "button.css";
@import "carrossel.css";
@import "footer.css";

:root:root body {
  background-color: rgb(45, 48, 59);
}

.container {
background-color: transparent;
}

html {
  background-color: rgb(45, 48, 59);
}
